:root {
    --width-content: 800px;
    
}

html {
    font: 1em Verdana, Arial, sans-serif;
}

body {

}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

[hidden] {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
}

a {
    color: #118bee;
}


nav {
    display: flex;
    justify-content: space-between;
    line-height: 2em;
    margin-bottom: 0;
}

nav ul,
nav ol {
    list-style: none;
}

nav ul li,
nav ol li {
    display: inline-block;
    margin: 0 .5rem;
    text-align: left;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer,
header {
    margin: 0 auto;
    max-width: var(--width-content);
    padding: 2rem 1rem;
}

main {
    background-color: whitesmoke;
}

main section {
    background-color: slategray;
    border: 1px solid black;
    max-width: var(--width-content);
    padding: 0 1rem 0 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 3rem;
    font-size: 2.5rem;
}

h3 {
    margin-top: 2rem;
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.flex-list {
    display: flex;
    flex-direction: column;
    list-style-position: outside;
    padding-left: 1rem;
    margin-left: 1rem;
}

ul.flex-list {
    list-style-type: circle;
}

ol.flex-list {
    list-style-type: decimal;
}

.flex-list li {
    padding: .25rem 1rem;
}